In [1]:
import pandas as pd
import numpy as np

# Import the data into a Pandas DataFrame
scores_df = pd.read_csv("caa_ca2018_1_csv_v3.csv")
zip_df = pd.read_csv("caa_ca2018entities_csv.csv")

In [2]:
scores_merged_df = pd.merge(scores_df, zip_df, on="School Code")
scores_merged_df.head()

,County Code_x,District Code_x,School Code,Filler_x,Test Year_x,Subgroup ID,Test Type,Total Tested At Entity Level,Total Tested with Scores,Grade,...,Percentage Level 1,Students with Scores,County Code_y,District Code_y,Filler_y,Test Year_y,Type Id,County Name,District Name,Zip Code
0,0,0,0,NaN,2018,1,A,36220,36220,3,...,50.82,5102,50,71175,NaN,2018,6,Stanislaus,Modesto City High,
1,0,0,0,NaN,2018,1,A,36220,36220,3,...,50.82,5102,50,71217,NaN,2018,6,Stanislaus,Patterson Joint Unified,
2,0,0,0,NaN,2018,1,A,36220,36220,3,...,50.82,5102,50,71266,NaN,2018,6,Stanislaus,Salida Union Elementary,
3,0,0,0,NaN,2018,1,A,36220,36220,3,...,50.82,5102,50,71282,NaN,2018,6,Stanislaus,Stanislaus Union Elementary,
4,0,0,0,NaN,2018,1,A,36220,36220,3,...,50.82,5102,50,71290,NaN,2018,6,Stanislaus,Sylvan Union Elementary,

In [3]:
scores_merged_df.columns

Index(['County Code_x', 'District Code_x', 'School Code', 'Filler_x',
       'Test Year_x', 'Subgroup ID', 'Test Type',
       'Total Tested At Entity Level', 'Total Tested with Scores', 'Grade',
       'Test Id', 'CAASPP Reported Enrollment', 'Students Tested',
       'Mean Scale Score', 'Percentage Level 3', 'Percentage Level 2',
       'Percentage Level 1', 'Students with Scores', 'County Code_y',
       'District Code_y', 'Filler_y', 'Test Year_y', 'Type Id', 'County Name',
       'District Name', 'Zip Code'],
      dtype='object')

In [4]:
scores_clean_df = scores_merged_df.loc[:, ["School Code", "District Name", "County Name", "Zip Code", "Test Year_x", "Grade", "Test Id", "Students Tested",
                             "Mean Scale Score", "Percentage Level 3", "Percentage Level 2", "Percentage Level 1"]]
scores_clean_df.head()

,School Code,District Name,County Name,Zip Code,Test Year_x,Grade,Test Id,Students Tested,Mean Scale Score,Percentage Level 3,Percentage Level 2,Percentage Level 1
0,0,Modesto City High,Stanislaus,,2018,3,3,5102,339.8,21.36,27.81,50.82
1,0,Patterson Joint Unified,Stanislaus,,2018,3,3,5102,339.8,21.36,27.81,50.82
2,0,Salida Union Elementary,Stanislaus,,2018,3,3,5102,339.8,21.36,27.81,50.82
3,0,Stanislaus Union Elementary,Stanislaus,,2018,3,3,5102,339.8,21.36,27.81,50.82
4,0,Sylvan Union Elementary,Stanislaus,,2018,3,3,5102,339.8,21.36,27.81,50.82

In [5]:
scores_clean_df["Zip Code"][0]

'     '

In [26]:
scores_wzip_df = scores_clean_df.loc[(scores_clean_df["Zip Code"] != '     ')]
student_scores_df = scores_wzip_df.loc[(scores_clean_df["Students Tested"] != '*')]

df = student_scores_df.reset_index()
df.head()

,index,School Code,District Name,County Name,Zip Code,Test Year_x,Grade,Test Id,Students Tested,Mean Scale Score,Percentage Level 3,Percentage Level 2,Percentage Level 1
0,7015724,131763,California School For The Deaf-Fremont (,Alameda,94538,2018,6,3,11,639.2,0,18.18,81.82
1,7015725,131763,California School For The Deaf-Fremont (,Alameda,94538,2018,6,4,11,648.3,18.18,45.45,36.36
2,7015732,131763,California School For The Deaf-Fremont (,Alameda,94538,2018,13,3,51,NaN,27.45,31.37,41.18
3,7015733,131763,California School For The Deaf-Fremont (,Alameda,94538,2018,13,4,51,NaN,17.65,41.18,41.18
4,7015924,6097653,Castro Valley Unified,Alameda,94552,2018,13,4,23,NaN,8.7,26.09,65.22

In [28]:
df[["Percentage Level 3", "Percentage Level 2", "Percentage Level 1"]] = df[["Percentage Level 3", "Percentage Level 2", "Percentage Level 1"]].apply(pd.to_numeric)
df.head()

,index,School Code,District Name,County Name,Zip Code,Test Year_x,Grade,Test Id,Students Tested,Mean Scale Score,Percentage Level 3,Percentage Level 2,Percentage Level 1
0,7015724,131763,California School For The Deaf-Fremont (,Alameda,94538,2018,6,3,11,639.2,0.00,18.18,81.82
1,7015725,131763,California School For The Deaf-Fremont (,Alameda,94538,2018,6,4,11,648.3,18.18,45.45,36.36
2,7015732,131763,California School For The Deaf-Fremont (,Alameda,94538,2018,13,3,51,NaN,27.45,31.37,41.18
3,7015733,131763,California School For The Deaf-Fremont (,Alameda,94538,2018,13,4,51,NaN,17.65,41.18,41.18
4,7015924,6097653,Castro Valley Unified,Alameda,94552,2018,13,4,23,NaN,8.70,26.09,65.22

In [35]:
grouped_zip_df = df.groupby(["Zip Code", "Test Id"])
performance_zip_df = grouped_zip_df[["Percentage Level 3", "Percentage Level 2", "Percentage Level 1"]].mean()

performance_zip_df.reset_index()

,Zip Code,Test Id,Percentage Level 3,Percentage Level 2,Percentage Level 1
0,90001,3,4.638333,19.515000,75.850000
1,90001,4,0.000000,13.648333,86.351667
2,90002,3,28.626667,23.690000,47.680000
3,90002,4,21.666667,21.590000,56.746667
4,90003,3,9.295000,41.055000,49.650000
5,90003,4,3.335000,22.455000,74.210000
6,90004,3,2.940000,28.075000,68.985000
7,90004,4,0.000000,23.530000,76.470000
8,90006,3,18.180000,36.360000,45.450000
9,90006,4,0.000000,45.450000,54.550000
10,90007,3,4.051111,16.335556,79.611111
11,90007,4,2.041111,6.878889,91.080000
12,90008,3,0.000000,7.690000,92.310000
13,90008,4,0.000000,15.380000,84.620000
14,90011,3,11.881667,29.523333,58.595000
15,90011,4,5.053333,22.345000,72.598333
16,90015,3,3.125000,7.670000,89.205000
17,90015,4,0.000000,10.795000,89.205000
18,90016,3,0.000000,63.640000,36.360000
19,90016,4,0.000000,27.270000,72.730000
20,90017,3,2.860000,16.097778,81.042222
21,90017,4,1.064444,9.855556,89.081111
22,90019,3,0.000000,4.355000,95.645000
23,90019,4,0.000000,13.065000,86.935000
24,90022,3,9.198333,26.328333,64.468333
25,90022,4,3.371667,25.896667,70.731667
26,90023,3,10.256667,40.423333,49.320000
27,90023,4,5.126667,38.640000,56.233333
28,90026,3,42.860000,23.810000,33.330000
29,90026,4,23.810000,23.810000,52.380000
...,...,...,...,...,...
1142,95864,3,17.650000,41.180000,41.180000
1143,95864,4,5.880000,47.060000,47.060000
1144,95901,3,25.000000,37.500000,37.500000
1145,95901,4,10.000000,34.000000,56.000000
1146,95926,3,15.380000,38.460000,46.150000
1147,95926,4,7.690000,23.080000,69.230000
1148,95928,3,5.880000,52.940000,41.180000
1149,95928,4,17.650000,47.060000,35.290000
1150,95945,3,63.640000,36.360000,0.000000
1151,95945,4,27.270000,45.450000,27.270000
1152,95959,3,5.000000,45.000000,50.000000
1153,95959,4,5.000000,5.000000,90.000000
1154,95963,3,40.910000,13.635000,45.455000
1155,95963,4,25.000000,36.365000,38.635000
1156,95965,3,0.000000,36.360000,63.640000
1157,95965,4,0.000000,31.820000,68.180000
1158,95966,3,16.883333,46.966667,36.143333
1159,95966,4,14.500000,44.586667,40.906667
1160,95969,3,12.500000,50.000000,37.500000
1161,95969,4,12.500000,18.750000,68.750000
1162,95988,3,21.050000,15.790000,63.160000
1163,95988,4,5.260000,10.530000,84.210000
1164,95993,3,25.876667,39.616667,34.506667
1165,95993,4,9.750000,37.266667,52.983333
1166,96003,3,0.000000,18.750000,81.250000
1167,96003,4,0.000000,9.680000,90.320000
1168,96007,3,40.556667,26.666667,32.776667
1169,96007,4,16.110000,46.663333,37.223333
1170,96097,3,23.530000,47.060000,29.410000
1171,96097,4,5.880000,23.530000,70.590000

In [ ]:
#get geolocation and heat map
#4 is CAA MATHEMATICS
#3 is CAA ENGLISH LANGUAGE ARTS/LITERACY